html {
    scroll-behavior: smooth;
}

.form__error {
    color: red;
}

.header {
    margin-bottom: 40px;
}

.header-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.header-inner__title {
    width: 25%;
    margin-left: 40px;
}

.title-a {
    width: 100%;
    text-decoration: none;
}

.title-image {
    width: 100%;
}

.header-inner__search {
    width: 40%;
    height: 32px;
    display: flex;
    justify-content: row;
    gap: 20px;
}

.search-input {
    width: 80%;
    height: inherit;
}

.header-button {
    width: 20%;
    height: inherit;
}

.header-inner__nav {
    width: 20%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item__button {
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.nav-item__a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}