html {
    scroll-behavior: smooth;
}

.form__error {
    color: red;
}

.header {
    margin-bottom: 40px;
}

.header-inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.header-inner__title {
    width: 25%;
    margin-left: 40px;
}

.title-a {
    width: 100%;
    text-decoration: none;
}

.title-image {
    width: 100%;
}

.header-inner__search {
    width: 40%;
    height: 32px;
    display: flex;
    justify-content: row;
    gap: 20px;
}

.search-input {
    width: 80%;
    height: inherit;
}

.header-button {
    width: 20%;
    height: inherit;
}

.header-inner__nav {
    width: 20%;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-item__button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.nav-item__a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

/* @media screen and (max-width: 480px) {
    .header {
        margin-bottom: 20px;
    }

    .header-inner {
        display: block;
        height: auto;
    }

    .header-inner__title {
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .title-a {
        width: 50%;
        display: inline-block;
        text-decoration: none;
    }

    .header-inner__search {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 0;
    }

    .header-inner__nav {
        width: 100%;
    }

    .nav-list {
        margin: 0;
        justify-content: flex-end;
        gap: 10px;
    }
} */